<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Tamagotchi</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
    <p> age: @Model.GetAge()</p>
    <p> hunger: @Model.GetHunger()</p>
    <p> sleepiness: @Model.GetSleepiness()</p>
    <p> happiness: @Model.GetHappiness()</p>
  </body>
</html>
