<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Tamagotchi</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
    <p> age: @Model.GetAge()</p>
    <p> hunger: @Model.GetHunger()</p>
    <p> sleepiness: @Model.GetSleepiness()</p>
    <p> happiness: @Model.GetHappiness()</p>
    <a href="@Model.GetName()passtime"><button type="button" name="timePassage">Time Pass</button></a>
    <a href="@Model.GetName()feed"><button type="button" name="feed">Feed</button></a>
    <a href="@Model.GetName()play"><button type="button" name="play">Play</button></a>
    <a href="@Model.GetName()sleep"><button type="button" name="rest">Rest</button></a>
  </body>
</html>
